:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1000px;
  min-height: 100vh;
  max-width: 100%;
}

.columns-3 {
  display: flex;
  gap: 3rem;
  margin: auto;
  width: 80%;
}

.columns-3 > div {
  max-width: 30%;
  min-width: 30%;
  background: #f3f3f3;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  max-height: 100%;
}

.columns-3 > div code {
  font-family: monospace;
  overflow: auto;
}